:root {
  --primary-color: hotpink;
  --secondary-color: #e4e8f0;
  --tertiary-color: #9ca3af;
  --background-color: #282828;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: lightblue;
  background-color: #282828;
}

h1 {
  color: var(--primary-color);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
