.card {
  padding: 20px;
  border-radius: 5px;
  border: solid 2px var(--primary-color);
  width: 350px;
}

.highlight {
  color: #ff4a11;
  font-size: 1.5rem;
}

.definition {
  max-width: 300px;
  border: solid 2px #ff4a11;
  border-radius: 5px;
  padding: 10px;
}

.tag {
  background-color: #9ca3af;
  color: #282828;
  padding: 10px;
  border-radius: 5px;
}
